:root{
    --font-display: swap;
    }

:root:lang(zh){
        /* Header */
        --header-title: "SCP基金會";
        --header-subtitle: "控制，收容，保護";
   
        /* Typefaces */
        --body-font: verdana, Inter, "Temp Noto Sans TC", 微軟正黑體, "Microsoft JhengHei", "Microsoft JhengHei UI", “微軟雅黑”, "Microsoft YaHei", "Microsoft YaHei UI", sans-serif;
        --UI-font: PTRootUI, 方體, "PingFang HK", 方體, "PingFang TC", 黑體, "Heiti TC", "Microsoft JhengHei UI", "Microsoft JhengHei", Roboto, Noto, "Noto Sans CJK TC", sans-serif;
        --header-font: var(--body-font);
        --title-font: var(--body-font);
        --mono-font: Recursive, "Noto Serif TC", "Microsoft YaHei", 微软雅黑, "Courier New", Courier, monospace, STXihei, 华文细黑;
   }
/*TEMPORARY FIX FOR FONT DISPLAY*/
@font-face {
    font-family: "Temp Noto Sans TC";
    font-style: normal;
    font-weight: 400;
    src:
     url("https://nu-scptheme.github.io/Black-Highlighter/fonts/int/chinese-traditional/noto-sans-tc-v11-chinese-traditional-regular.woff2") format("woff2");
    font-display: var(--font-display);
}

@font-face {
    font-family: "Temp Noto Sans TC";
    font-style: normal;
    font-weight: 500;
    src: url("https://nu-scptheme.github.io/Black-Highlighter/fonts/int/chinese-traditional/noto-sans-tc-v11-chinese-traditional-500.woff2") format("woff2");
    font-display: var(--font-display);
}

@font-face {
    font-family: "Temp Sans TC";
    font-style: normal;
    font-weight: 700;
    src: url("https://nu-scptheme.github.io/Black-Highlighter/fonts/int/chinese-traditional/noto-sans-tc-v11-chinese-traditional-700.woff2") format("woff2");
    font-display: var(--font-display);
}

@font-face {
    font-family: "Temp Sans TC Bold";
    font-style: normal;
    font-weight: 700;
     src:url("https://nu-scptheme.github.io/Black-Highlighter/fonts/int/chinese-traditional/noto-sans-tc-v11-chinese-traditional-700.woff2") format("woff2");
    font-display: var(--font-display);
}


@font-face {
    font-family: "Temp Noto Sans TC";
    font-style: normal;
    font-weight: 900;
    src: url("https://nu-scptheme.github.io/Black-Highlighter/fonts/int/chinese-traditional/noto-sans-tc-v11-chinese-traditional-900.woff2") format("woff2");
    font-display: var(--font-display);
}
   
   body{
   font-family: var(--body-font);
   font-size:13px;
   }
   
   #page-content strong{
       font-family: "Temp Sans TC Bold"
   }
   
   #header div#top-bar {
       font-family: var(--UI-font, var(--header-font));
   }
   #header h1 a {
    font-family: var(--header-font);
   }
   #header h2 span{
    font-family: var(--title-font);
   }

   #login-status {
       font-family: var(--UI-font);
   }
   #side-bar {
       font-family: var(--UI-font);
   }